/*scrollTop*/
.scroll-top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 250px;
    background: rgba(255,255,255,1);
    z-index: 9999;
    border-radius: 50%;
    border: 1px solid;
    opacity: .8;
    transition-timing-function: ease-in, linear;
    transition-property: opacity, left;
    transition-duration: .5s, 0s;
    transition-delay: .5s, 0s;
}
a.scroll-top-inner {
    margin-top: -3px;
    font-size: 4em;
    width: 100%;
    text-align: center;
}
a.scroll-top-inner, a.scroll-top-inner:active, a.scroll-top-inner:visited {
    color: rgba(0,0,0,1) !important;
    text-decoration: none;
}
.dimmed {
    opacity: 0.3;
    transition: opacity .5s ease-in;
}
.scroll-top.active {
    transition-delay: 0s;
}
.away {
    position: fixed;
    left: -99999px;
    opacity: 0;
    transition-timing-function: ease-in, linear;
    transition-property: opacity, left;
    transition-duration: .5s, 0s;
    transition-delay: 0s, .5s;
}